.gallary img{
    width: 100;
}

h2{
    font-family: Impact fantasy;
    text-align: center;
    font-size: 40px;
    color:blue;
    font-style: italic;
}

h4{
    font-family: 'Franklin Gothic Medium';
    font-family: 30px;
    font-style: italic;
    color: aqua;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

 #menu {
     width: 100;
     height: 50px;
     background-color:rgb(0, 128, 79);
     padding-top: 13px;
}

#menu a{
    color:red;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-decoration:none;
    font-weight: 700px;

    padding-left: 30px;
    padding-right: 20px;
}
#menu a:hover{
color: greenyellow;
}